@font-face {
  font-family: "Outfit";
  src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Young Serif";
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

* {
  margin: 0;
  font-family: "Outfit", serif;
}

body {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 700px;
  border-radius: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

hr {
  margin: 30px;
}

img {
  width: 100%;
  object-fit: contain;
}

header {
  margin: 30px
}

header > h1 {
  font-weight: 400;
  font-family: "Young Serif", serif;
}

#s1 {
  margin: 0 30px;
  color: rgb(102, 102, 102)
}

#s2 {
  border-radius: 14px;
  padding: 20px;
  margin: 30px;
  margin-bottom: 0;
  background-color: rgb(255, 245, 247);
}

#s2 > h2 {
  color: hsl(332, 51%, 32%);
}

#s2 > ul {
  padding-left: 10px;
}

#s2 > ul > li {
  margin: 10px;
  padding-left: 20px;
}

#s2 > ul > li::marker {
  color: hsl(332, 51%, 32%);
}

.box-3 {
  margin: 30px;
}

.ingredients {
  padding-left: 10px;
}

.ingredients li::marker {
  color: hsl(14, 45%, 36%);
}

.ingredients li {
  margin: 10px;
  padding-left: 20px;
}

.box-4 {
  margin: 0 30px;
}

.instructions {
  padding-left: 10px;
}

.instructions li {
  margin: 10px;
  padding-left: 20px;
}

.instructions li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

.box-5 {
  margin: 0 30px 30px;
}

.para-6 {
  margin-bottom: 10px;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr td{
  border-bottom: 1px solid black;
  height: 20px;
  padding: 20px;
  border-collapse: collapse;
}

li {
  color: rgb(102, 102, 102);
}

tr td:nth-of-type(2) {
  color: hsl(14, 45%, 36%);
}

@media (min-width: 400px) {
  main {
    width: 90%;
    margin: 20px;
    border-radius: 20px;
  }
  img {
    border-radius: 20px 20px 0 0;
  }
}

@media (min-width: 768px) {
  figure {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  img {
    border-radius: 10px;
    width: 90%;
    margin-top: 30px;
  }
}